@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

button {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
}




.container{
    display: block;
    position: relative;
    margin: 40px auto;
    height: auto;
    width: 800px;
    padding: 5%;
    /* padding-right: 20px; */
  }


.container .title{
    font-size: 3em;
    text-align: center;
    border: 5px solid var(--primary-color);
    padding-bottom: 50px;
    border-radius: 4px;
}

.text-light {
	color: var(--light-color)
}

.container .btn{
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
}

.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
  }
  

.info_box .info-list{
    padding: 15px 35px;
  }
  
  .info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
  }
  
  .info_box .info-list .info span{
      font-weight: 600;
      color: #007bff;
  }


  .container ol li{
    font-size: 1.4em;
    color: #cecece;
}

.start{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}


#form{
    display: flex;
    justify-content: center;
    margin-top: 4em;
    
}

#form .userid{
    padding: .7em 2em;
    width: 50%;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}


.color{
    color: #16FF00;
}






.color{
    color: #16FF00;
}




